In [173]:
# Bank account class
class Account:
    """ Models a bank account """
    
    # define attributes 
    def __init__(self, acnum, name, age, resid, balance, opendate):
        """ Initialize the instance variables of a bank account object. """
        self.acnum = int(acnum)
        self.name = name
        self.age = int(age)
        self.resid = resid
        self.balance = float(balance)
        self.opendate = opendate

    # define methods
    def deposit(self, num):
        """ Add a certain amount of money to an account. """
        self.balance = self.balance+num

    def withdraw(self, num):
        """ Remove a certain amount of money from an account. """
        self.balance = self.balance-num

    def transfer(self, other, num):
        """ Transfer a certain amount of money from an account to another account. """
        # self is sender, other is receiver
        if self.balance >= num:
            self.balance = self.balance-num
            other.balance = other.balance+num
        else:
            raise ValueError('Insufficient balance')
            
    def __str__(self):
        return '{0:<10}{1:<10}{2:<10}{3:<15}{4:<10}{5:<10}'.format(self.acnum, self.name, self.age, 
                                                             self.resid, self.balance, self.opendate)

In [174]:
# initialize database
def database_initialization():
    """ Read the account data file and initialize the database for the account management system. """
    database = []
    with open('account_data.csv') as f:
        accounts = f.readlines()
        for x in accounts[1:]:
            record = x.strip().split(',')
            this_ac = Account(record[0], record[1], record[2], record[3], record[4], record[5])
            database.append(this_ac)
         
    return database

In [175]:
# User login

# automatically stops running if the user
# provides 3 successive incorrect inputs for username and/or password.
def user_login():
    """ Ask the user to provide username and password for login.
        The user will exit the system if three successive incorrect
        username and/or password are provided. """
    num_try = 0
    database = None
    for i in range(3):
        input_name = str(input('Enter username: '))
        input_pw = str(input('Enter password: '))
        num_try = num_try+1
        if input_name == 'BIOS6642' and input_pw == 'python':
            database = database_initialization()
            break
        else:
            print('Try again') if num_try <= 2 else print('Please restart the system and try again')
    
    return database

In [176]:
db = user_login()

Enter username: BIOS6642
Enter password: python

In [204]:
def user_selection(database = db, by = "account number"):
    """ Provide data management operations/options for the system. """
    if by == "account number":
        new_db = sorted(database, key = lambda x: x.acnum)
    elif by == "current balance":
        new_db = sorted(database, key = lambda x: x.balance)
    elif by == "open date":
        # define a function to transform open date to a integer
        # that stands to the number of days from 0/0/00
        def convert_date(date):
            date = date.split('/')
            days = int(date[2])*365+int(date[0])*30+int(date[1])
            return days
    
        new_db = sorted(database, key = lambda x: convert_date(x.opendate))
    
    return new_db

In [205]:
new_db = user_selection(by = "open date")
for x in new_db:
    print(x)

1038      George    81        California     673398.0  11/22/01
966       Jan       83        New York       992391.0  2/10/02
9202      Kate      69        Washington     589278.0  2/9/06
1002      Smith     43        Texas          980876.0  12/28/06
826       Charlie   62        Florida        99523.0   8/1/07
666       Leo       38        California     95427.0   10/2/08
422       John      26        Washington     10002.0   3/31/09
992       Evan      52        California     878223.0  10/16/09
120       Owen      32        Utah           247702.0  1/2/10
927       James     89        California     86523.0   12/22/10
101       Bert      32        California     766209.0  2/23/11
371       Ella      57        Colorado       1263210.0 3/26/11
3322      Alex      52        Utah           69542.0   8/7/11
501       Jan       67        Colorado       21230.0   8/9/12
1001      Mia       51        New York       230289.0  9/8/12
1210      Judy      61        Colorado       83497.0   6/30/15
6696      Ella      32        Wyoming        56870.0   12/3/15
1300      Sam       53        Texas          50315.0   5/13/16
201       David     42        Florida        29879.0   7/19/16
221       Alex      69        Utah           230902.0  9/16/16
102       Ava       23        Texas          20211.0   5/9/17
9091      Oliver    38        Colorado       59823.0   1/2/18
129       Zoe       30        Colorado       79934.0   8/20/18
2232      Taylor    39        Colorado       980367.0  11/8/18
1008      Jack      78        Utah           120253.0  2/12/19
2032      Jacob     22        California     3268.0    9/2/19
589       Anna      33        New York       10986.0   10/26/19
412       Lily      28        California     12000.0   12/1/19
888       Lily      27        Wyoming        26683.0   3/8/20
420       Bert      21        Washington     10354.0   4/2/20
508       Justin    30        Colorado       20000.0   5/3/20

In [ ]:
# main function
def main(database_filename):
    # User login
    # Please implement the user_login function (and add proper formal parameters if needed)
    user_login()

    # Database initialization: initialize the bank account management system database
    # Please implement the database_initialization function (and add proper formal parameters if needed)
    database_initialization()

    # Bank account management via user selection
    # Please implement the user_selection function (and add proper formal parameters if needed)
    user_selection()

In [ ]:
# Run the main function
database_filename = 'account_data.csv' # Assume this file is in your current working directory
main(database_filename)